
:root {
    --color1: #1f1f20;
    --color2: #2b4c7e;
    --color3: #567ebb;
    --color4: #606d80;
    --color5: #dce0e6;
  }
  
  .text{
    color: var(--color1);
  }
  body {
    background-color: var(--color5);
    color: var(--color5);
  }

  .background-footer {
    background-color: var(--color5);
    color: var(--color5);
  }
  
  .navbar {
    background-color: var(--color2);
  }

  span, ul, li, i{
    color: var(--color5);
  }

  .nav-link{
    color: var(--color5);
  }

  .navbar-brand{
    margin-left: 10px;
  }

  .user-dropdown{
    margin-right: 10px;
    margin-left: 10px;
  }

  .emphasis{
    color: var(--color2);
  }

  .topic{
    font-weight: bolder;
  }

  .footer-color{
    color: var(--color4);
  }

  .main-content {
    margin-top: 45px;
    margin-left: 170px;
    flex-grow: 1;
  }
  
  @media (max-width: 575px) {
    .main-content {
      margin-top: 40px; 
      margin-left: 35px; 
      padding: 10px; 
    }
  }
